<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    <h1>Reports</h1>
		<div class="col-xs-12">
			<div class="form-group">
				<label for="card-name">Sales by Month</label>
				<img src="images/bar.png">
		   </div>
		   <div class="form-group">
				<label for="card-name">Gross/Net Profits by Month</label>
				<img src="images/Chart-JS.png">
		   </div>
		</div>
  </div>
</div>